<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e4rdx.snote">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Twonote">
        <activity android:name=".Activities.link.Link" />
        <activity android:name=".Activities.task.Task_manager" />
        <activity android:name=".Activities.Attachments.AttachmentEditor" />
        <activity
            android:name=".Activities.Main_NotebookDisplay.NotebookDisplayer"
            android:label="@string/title_activity_notebook_displayer"
            android:theme="@style/Theme.Twonote.NoActionBar" />
        <activity android:name=".Activities.TextNote.TextEditor" />
        <activity android:name=".Activities.FileCreation.FileCreation" />
        <activity android:name=".Activities.Main_NotebookDisplay.MainActivity" />
        <activity android:name=".Activities.CheckList.ChecklistEditor" />
        <activity android:name=".Activities.NoteCreation.NoteCreator" />
        <activity android:name=".Activities.Startmenu.StartMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".DeviceBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>